* {
  margin: 0;
  padding: 0;
  font-family: "SFProDisplay-Regular", Arial, Helvetica, sans-serif;
}

main {
  background-color: #f0f2f5;
  padding: 5.5rem 18rem 5.5rem 9rem;
}

@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("./font/SFPRODISPLAYREGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "Helvetica";
  src: url("./font/Helvetica.woff") format("opentype");
}

@font-face {
  font-family: "Arial";
  src: url("./font/ARIAL.TTF") format("opentype");
}
body {
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
}
#outer-box {
  display: flex;
  justify-content: space-between;
}
#left-box {
  width: 31rem;
  margin-left: 8rem;
}
#right-box {
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396px;
}
.logo-container {
  width: 19rem;
  padding: 112px 0 16px;
  margin: -1.6rem;
}
.intro {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  width: auto;
  padding: 0 0 20px;
  letter-spacing: normal;
}
.input-button {
  border-radius: 6px;
  width: 364px;
  font-size: 17px;
  padding: 6px 0;
}

.display-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
input {
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  height: 22px;
  vertical-align: middle;
  line-height: 16px;
  color: #1d2129;
}
button {
  border: none;
  border-radius: 6px;
  line-height: 48px;
  padding: 0 16px;
  color: #fff;
  font-weight: bold;
}
.login {
  font-size: 20px;
  width: 366px;
  background-color: #1877f2;
  margin-top: 6px;
}
.login:hover {
  background-color: #166fe5;
  border-color: #166fe5;
}
hr {
  width: 366px;
  margin: 20px 0px 25px;
  border: 1px solid #ccc;
}
a {
  text-decoration: none;
  margin-top: 15px;
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}
.register {
  background-color: #42b72a;
  border-color: #42b72a;
  font-size: 17px;
}
#right-box-container {
  border-top: none;
  color: #1c1e21;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-top: 0;
  align-items: center;
}
#page-text-container p > a {
  font-weight: bold;
  color: #1c1e21;
}
#page-text-container {
  margin: 30px auto 30px;
  text-align: center;
}
